@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-arabic-bold.1796b39.woff2")
    format("woff2");
  unicode-range: U+0600-0671, U+06A1, U+06A4, U+06BA, U+06CC, U+06D5, U+06F8,
    U+06F9;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-arabic-regular.413b375.woff2")
    format("woff2");
  unicode-range: U+0600-0671, U+06A1, U+06A4, U+06BA, U+06CC, U+06D5, U+06F8,
    U+06F9;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-cyril-bold.4cb90bb.woff2")
    format("woff2");
  unicode-range: U+0400-04FF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-cyril-regular.b845952.woff2")
    format("woff2");
  unicode-range: U+0400-04FF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-cyril-semi-bold.378f7d5.woff2")
    format("woff2");
  unicode-range: U+0400-04FF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-greek-bold.d2546b1.woff2")
    format("woff2");
  unicode-range: U+0370-03FF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-greek-regular.0b3d9b3.woff2")
    format("woff2");
  unicode-range: U+0370-03FF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-greek-semi-bold.f3a9ae0.woff2")
    format("woff2");
  unicode-range: U+0370-03FF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-latin-bold.0fbdc6d.woff2")
    format("woff2");
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF,
    U+02B0-02FF, U+0300-036F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF,
    U+2100-214F, U+2150-218F, U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2600-26FF,
    U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-latin-regular.b8f1c20.woff2")
    format("woff2");
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF,
    U+02B0-02FF, U+0300-036F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF,
    U+2100-214F, U+2150-218F, U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2600-26FF,
    U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-latin-semi-bold.b5f6fca.woff2")
    format("woff2");
  unicode-range: U+0020-007F, U+0080-00FF, U+0100-017F, U+0180-024F, U+0250-02AF,
    U+02B0-02FF, U+0300-036F, U+1E00-1EFF, U+2000-206F, U+2070-209F, U+20A0-20CF,
    U+2100-214F, U+2150-218F, U+2190-21FF, U+2200-22FF, U+25A0-25FF, U+2600-26FF,
    U+FB00-FB4F, U+FE70-FEFF;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-pashto-bold.f30f194.woff2")
    format("woff2");
  unicode-range: U+067C, U+067E, U+0681, U+0682, U+0685, U+0686, U+0689, U+067C,
    U+0693, U+0696, U+0698, U+069A, U+06A9, U+06AB, U+06AF, U+06BC, U+06CD,
    U+06D0;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-pashto-regular.3989814.woff2")
    format("woff2");
  unicode-range: U+067C, U+067E, U+0681, U+0682, U+0685, U+0686, U+0689, U+067C,
    U+0693, U+0696, U+0698, U+069A, U+06A9, U+06AB, U+06AF, U+06BC, U+06CD,
    U+06D0;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-thai-bold.b9e9f23.woff2")
    format("woff2");
  unicode-range: U+0E00-0E7F;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-thai-regular.ac04c30.woff2")
    format("woff2");
  unicode-range: U+0E00-0E7F;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 600;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-thai-semi-bold.8d53572.woff2")
    format("woff2");
  unicode-range: U+0E00-0E7F;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 700;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-urdu-bold.49a86a4.woff2")
    format("woff2");
  unicode-range: U+0679, U+0688, U+0691, U+06BE, U+06C0-06C3, U+06D2-06D5,
    U+06F0-06F9;
  font-display: swap;
}
@font-face {
  font-family: Porsche Next;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.ui.porsche.com/porsche-design-system/fonts/porsche-next-urdu-regular.ad23819.woff2")
    format("woff2");
  unicode-range: U+0679, U+0688, U+0691, U+06BE, U+06C0-06C3, U+06D2-06D5,
    U+06F0-06F9;
  font-display: swap;
}
* {
  box-sizing: border-box;
}
:root {
  --main-bg: #f5f5f5;
  --second-bg: #0b0b0b;
  --text-dark: #171717;
  --text-dark-prisma: #303030;
  --text-light: #f5f5f5;
  --text-light-prisma: #f5f5f5d5;
  --secondary: #525252;
  --secondary-prisma: #e5e5e6;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--main-bg);

  margin: 0;
}
header a {
  text-decoration: none;
  color: var(--text-light);
  user-select: none;
}
a {
  text-decoration: none;
  color: var(--text-dark);
  user-select: none;
}
input {
  outline: none;
}
header {
  display: grid;
  align-items: center;
  height: 60px;
  max-height: 60px;
  max-width: 100%;
  min-width: 375px;
  width: 100%;

  background-color: var(--text-dark);
}
.header-contents {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 20px;

  align-items: center;
  color: var(--text-light);
}

.header-correct-container {
  padding: 0px 30px;
}

.logo-911 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 800;
  letter-spacing: -11px;
  user-select: none;
  margin-right: 20px;
  color: var(--text-light);
}
.search {
  border-radius: 30px;
  border: none;
  padding: 5px 10px;
  max-width: 130px;
}

/*  */
.section-block-porsche {
  margin-left: auto;
  margin-right: auto;

  min-width: 0;
  max-width: 100%;
  box-sizing: initial;
  font-family: "Porsche Next";
  font-size: 18px;
}

.block-car-info {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 0.30fr 0.15fr 0.55fr 0.3fr auto;
  padding: 10vh 0 10vh 0;
}

.block-gray-gradient {
  display: block;
  grid-row: 1 / -3;
  grid-column: 1 / -1;
  place-self: stretch;

  background: linear-gradient(to bottom, rgba(245, 245, 245, 1), rgba(82, 82, 82, 0.1));
}

.image-911-porsche {
  margin-left: auto;
  margin-right: auto;

  user-select: none;

  
  display: flex;
  justify-content: center;
  align-self: stretch;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.image-911-porsche > img {
  min-width: 300px;

  position: relative;
  opacity: 0.1;
  z-index: 0;
}

.image-car-porsche {
  grid-row: 2 / 5;
  grid-column: 2 / 3;
}

.image-car-porsche > img {
  min-width: 700px;
  width: 1100px;

  position: relative;
  user-select: none;
  z-index: 1;
}

.section-block-porsche-communication {
  grid-row: 5 / 6;
  grid-column: 2 / 3;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 45px;
  padding-top: 30px;
  width: max-content;
}

.bpc-tabs {
  display: inline-flex;
  gap: 20px;

  font-size: 16px;
}

.title-911gt3 {
  font-size: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-911gt3 > p {
  font-size: 14px;
  margin: 0;

  background-color: var(--secondary-prisma);
  width: max-content;
  border-radius: 10px;
  padding: 3px 10px;
}

.bpc-button {
  display: flex;
  gap: 15px;
}


.button-bpc {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background: var(--secondary-prisma);
  
  color: var(--text-dark);
  cursor: pointer;
}

.selected-button-bpc {
  background: var(--text-dark);
  
  color: var(--text-light);
}

/*  */

.section-porsche-characteristics {
  padding: 10vh 0 10vh 0;

  min-width: 0;
  max-width: 100%;
  box-sizing: initial;
  
  font-family: "Porsche Next";
  font-size: 18px;
}

.block-porsche-characteristics {
  display: grid;
  grid-template-columns: 
  1fr repeat(12, minmax(0,1fr)) 1fr;
  grid-template-rows: repeat(8, minmax(0,1fr));
  column-gap: 30px;
  row-gap: 30px;
  height: 60vh;
}

.section-porsche-characteristics p {
  margin: 0;
  white-space: nowrap;
}

.sub-sub {
  color: var(--secondary);
  white-space: nowrap;
}

.sub {
  font-size: 25px;
  white-space: nowrap;
}

.characteristics-model-porsche911 {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.model-technical-km-h {
  width: fit-content;
  display: flex;
}

.tecnical-block-km-h {
  display: flex;
  flex-direction: column;
}

.km-h > span {
  font-size: 70px;
}

/*  */
.model-technical-power {
  width: fit-content;
  display: flex;
}

.tecnical-block-power {
  display: flex;
  flex-direction: column;
}

.power-kw-ps {
  font-size: 70px;
}

.sub-flesh {
  font-size: 50px;
}

/*  */

.model-technical-speed {
  width: fit-content;
  display: flex;
}

.tecnical-block-speed {
  display: flex;
  flex-direction: column;
}

.top-speed > span {
  font-size: 70px;
}

/*  */

.bcc-details {
  background: var(--secondary-prisma);
  border: none;
  border-radius: 10px;
  padding: 15px 20px;

  font-size: 16px;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

.bcc-details a:hover {
  color: var(--text-light);
}

.bcc-details:hover {
  background: var(--text-dark);

  color: var(--text-light);

  transform: scale(1.03);
}

.bcc-details:active {
  background-color: var(--text-dark-prisma);
  transform: scale(1.02);
}

/*  */

.column-image-porsche-technical-block {
  display: flex;
  justify-content: center;
  align-items: stretch;

  grid-column: 7 / 13;
  grid-row: 2 / 8;
}

.column-image-porsche-technical-block > img {
  min-width: 300px;

  object-fit: cover;
  user-select: none;
}

/*  */

.section-weissach {
  padding: 10vh 0 10vh 0;
}

.full-block-weissach {
  height: 110vh;

  background-color: var(--second-bg);
}

.block-weissach-image {
  display: grid;
  grid-template-columns: 1fr repeat(16, minmax(0,1fr)) 1fr;
  grid-template-rows: 4fr 3fr 0.5fr 0.5fr;
  column-gap: 30px;

  height: 70vh;

  position: relative;

}

.block-weissach-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  grid-column: 1 / 19;
  grid-row: 1 / 5;
}

.gradient-overlay-weissach {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(11, 11, 11) 95%
  );

  z-index: 1;
}

.block-weissach-image > h2 {
  grid-column: 1 / 19;
  grid-row: 3 / 4;
  text-align: center;
  
  font-size: 42px;
  color: var(--text-light);
  
  margin: 0;

  z-index: 2;
}


.block-weissach-image > p {
  font-size: 20px;
  color: var(--text-light);

  grid-column: 1 / 19;
  grid-row: 4 / 5;
  text-align: center;
  margin: 2vh 0 0 0;

  z-index: 2;
}

/*  */

.carousel-block-weissach {
  position: relative;
  width: 100%;
  padding: 10px 40px;
  border: none;

  margin-top: 10vh;
}

.carousel-block-weissach img {
  width: 540px;
  height: 540px;
  object-fit: cover;
  border-radius: 15px;
  
  display: block;
  user-select: none;
}

.arrow {
  position: absolute;
  top: -50px;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  display: block;

  background-color: var(--second-bg);
  color: var(--main-bg);
  border: none;
  user-select: none;
}

.prev {
  left: 55px;
}

.next {
  right: 55px;
}

.gallery {
  width: 100%;
  overflow: hidden;

  border-radius: 15px;
}

.gallery ul {
  height: 640px;
  width: 100%;
  margin: 0;
  padding: 5;
  list-style: none;
  transition: margin-left 550ms;
  font-size: 0;

  display: flex;
  gap: 30px;
}

.gallery li {
  display: inline-block;

  position: relative;
}

.caption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: var(--text-light);
  z-index: 10;
}